/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A */
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #FFFFFF */
/* акцент #2196F3; */
/* цвет фона преимуществ #F5F4FA; */
/* цвет иконок секции "Наши клиенты" #AFB1B8; */
/* цвет ссылок футера rgba(255, 255, 255, 0.6); */
/* цвет фона соц сетей rgba(255, 255, 255, 0.1); */

:root {
    --main-bg-color: #fff;
    --dark-bg-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --active-color: #2196f3;
    --second-active-color: #188ce8;

    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #fff;

    --black-text-color: #000000;
    --contacts-header-text-color: rgba(255, 255, 255, 0.6);
    --icon-no-activ: #afb1b8;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal; /*400*/
    font-style: normal;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

/*utilits*/
.list {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-position {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*hidden title*/
.visualy-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
}

.block-social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 206px;
    height: 44px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
/*---------------------HEADER-------------------------*/
.header-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ececec;
}

/* ------navbar*/
.navbar {
    display: flex;
    align-items: center;
}

/*------logo*/
.logo {
    display: block;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: none;
}
.logo-part-in-header {
    color: var(--black-text-color);
}

/*-----nav in Header*/
.nav-in-header {
    display: flex;
    margin-left: 93px;
}
.nav-in-header-element:not(:last-child) {
    margin-right: 50px;
}
.nav-in-header-element > a {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14; /*16px*/
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-in-header-element > a:hover,
.nav-in-header-element > a:focus {
    color: var(--active-color);
}
.nav-in-header-element .current {
    color: var(--active-color);
}
.nav-in-header-element .current::after {
    content: "";
    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    bottom: 0px;

    background-color: var(--active-color);
    border-radius: 2px;
}

/*-------Contacts in Header*/
.contact-in-header {
    display: flex;
    margin-left: auto;
}
.contact-in-header li:not(:last-child) {
    margin-right: 50px;
}
.contact-in-header-element {
    display: flex;

    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-in-header-element:hover,
.contact-in-header-element:focus {
    color: var(--active-color);
}
.contact-in-header-element:hover .icon-contact,
.contact-in-header-element:focus .icon-contact {
    fill: var(--active-color);
}

/*-----------main_HomePage.html-------------*/
/*-----block Hero*/
.homepage-hero-block {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    text-align: center;
    margin: 0 auto;

    background-color: var(--dark-bg-color);
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero_img.jpg");
    background-size: cover;
}

.homepage-main-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.homepage-button-order {
    font-family: inherit;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.homepage-button-order:hover,
.homepage-button-order:focus {
    background-color: var(--second-active-color);
}

/*-----block Advantages*/
.homepage-advantages-list {
    display: flex;
}
.homepage-advantages-list-item:not(:last-child) {
    margin-right: 30px;
}
.block-icon-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--button-bg-color);
    border-radius: 4px;
}
.homepage-advantages-element-title {
    margin-bottom: 10px;

    font-size: inherit;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.homepage-advantages-element-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*-----block Make*/
.homepage-make-block {
    padding-bottom: 94px;
}
.homepage-make-list {
    display: flex;
}
.homepage-make-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-make-list-item {
    position: relative;
}
.homepage-make-list-item:not(:last-child) {
    margin-right: 30px;
}

.homepage-make-list-item .overlay-block {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;

    background-color: rgba(47, 48, 58, 0.8);
}
.overlay-block .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}
/*------block OurTeam*/
.homepage-team-block {
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--button-bg-color);
}
.homepage-team-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-team-list {
    display: flex;
}
.homepage-team-list-item {
    background: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.homepage-team-list-item:not(:last-child) {
    margin-right: 30px;
}
.block-title-team {
    margin-top: 30px;
}
.homepage-surname-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.homepage-team-block .block-social-links {
    margin: 16px 32px 30px 32px;
}

.homepage-team-block .social-link {
    background-color: var(--main-bg-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.homepage-team-block .icon-social-link {
    fill: var(--icon-no-activ);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.homepage-team-block .social-link:hover,
.homepage-team-block .social-link:focus {
    background-color: var(--active-color);
}

.homepage-team-block .social-link:hover .icon-social-link,
.homepage-team-block .social-link:focus .icon-social-link {
    fill: var(--main-bg-color);
}

/*---------block Clients*/
.homepage-clients-title {
    margin: 0 auto 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.link-client {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-no-activ);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--icon-no-activ);
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
    border: 1px solid var(--active-color);
    fill: var(--active-color);
}

/*------------------- Portfolio.html-----------*/
/*-----list Filter*/
.list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-filter-element:not(:last-child) {
    margin-right: 8px;
}
.list-filter-button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-bg-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-filter-button:hover,
.list-filter-button:focus {
    background-color: var(--active-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
}

/*-----list  Portfolio*/
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.list-portfolio-item {
    width: 370px;
    cursor: pointer;
}
.list-portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.list-portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.list-portfolio-block-link {
    text-decoration: none;
    font-style: normal;
    background: var(--main-bg-color);
    border: 1px solid #eeeeee;
    border-top: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-title-portfolio {
    margin: 20px 24px;
}
.project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.project-discription {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/*overlay__block*/
.overlay-and-img {
    position: relative;
    overflow: hidden;
}
.overlay-and-img .overlay-block {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-block .text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--white-text-color);
}

.list-portfolio-block-link:hover,
.list-portfolio-block-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio-block-link:hover .overlay-block {
    transform: translateY(0);
    opacity: 1;
}
/*----------------FOOTER--------------------*/
.footer {
    max-width: 1600px;
    margin: 0 auto;

    background: var(--dark-bg-color);
}

.flex-container {
    display: flex;
}

/*contacts-block-in-footer*/
.contacts-block-in-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
    width: 231px;
}

.footer .logo {
    margin-bottom: 20px;
}

.logo-part-in-footer {
    color: var(--white-text-color);
}

.address-list-in-footer {
    font-style: normal;
}

.address-in-footer-element-text > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none;
}

.address-in-footer-element > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-header-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-in-footer li:not(:last-child) {
    margin-bottom: 9px;
}

/*join-block-in-footer*/
.join-block-in-footer {
    padding-top: 72px;
    padding-bottom: 100px;
    margin-right: 93px;
}

.join-block-in-footer h2,
.newsletter-block-in-footer h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}
.join-block-in-footer .block-social-links {
    margin-top: 20px;
}
.join-block-in-footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-in-footer-element > a:hover {
    color: var(--active-color);
}

.join-block-in-footer .social-link:hover,
.join-block-in-footer .social-link:focus {
    background-color: var(--active-color);
}

/*newsletter-block-in-footer*/
.newsletter-block-in-footer {
    padding-top: 72px;
    padding-bottom: 94px;
}
.form-newsletter {
    margin-top: 20px;
    display: flex;
}
.input-newsletter {
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--white-text-color);

    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 358px;
    background-color: var(--dark-bg-color);
    outline: none;
}
.input-newsletter::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.btn-newsletter {
    display: flex;
    position: relative;
    width: 200px;
    height: 50px;
    padding: 10px 62px 10px 29px;

    font-family: inherit;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-newsletter:hover,
.btn-newsletter:focus {
    background-color: var(--second-active-color);
}
.svg-newsletter {
    position: absolute;
    top: 13px;
    right: 28px;
}

/*------------Modal Window----------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    height: 581px;
    width: 528px;

    background-color: var(--main-bg-color);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;

    background-color: var(--main-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-close {
    fill: var(--active-color);
}

/*------form of modal------*/
.inputs-modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form p {
    margin-bottom: 12px;

    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.form-field {
    margin-bottom: 10px;
}
.form-field label {
    display: block;
}
.form-label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    cursor: pointer;
    padding: 0;

    color: var(--secondary-text-color);
}
.form-input-block {
    position: relative;
    margin-top: 4px;
}

.form-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;

    font: inherit;
}
.icon-in-input {
    position: absolute;
    top: 30%;
    left: 15px;
}
.form-input:focus-within + .icon-in-input {
    fill: var(--active-color);
}
.form-input:focus-within,
.txtarea-input:focus-within {
    border: 1px solid var(--active-color);
    outline: none;
}

.txtarea-field {
    display: block;
    width: 100%;
    cursor: pointer;
}
.txtarea-input {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    margin-top: 4px;
}
.txtarea-input::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox-box {
    display: flex;
    align-items: center;
}
.checkbox {
    display: inline-block;
}
.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    margin-right: 7px;
    margin-left: 14px;
}
.label-checkbox {
    display: inline-block;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
.label-checkbox a {
    display: inline-block;
}
.checkbox:checked + .icon-checkbox {
    border-color: transparent;
    background-color: var(--active-color);
    background-image: url("../images/svg/check.svg");
    background-size: contain;
    background-origin: border-box;
}

.btn-submit-form {
    display: block;
    margin: 30px auto 0 auto;
    padding: 0;
}